.form_box{
    display: flex;
    background-color: #DCDCDC;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;

}

.title_box{
    text-align: center;
}

.true{
    background: #198754;
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

._popupBody{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;

}

._popupContent{
    min-width: 450px;
    background:honeydew;
    padding: 20px;
    border-radius: 10px;
}

.btnBlock{
    text-align: center;
    padding: 10px;
}

.none{
    display: none;
}

.sort_box{
    padding: 4px;
    background: #D3D3D3;
    border-radius: 10px 10px;
}

.title_sort{
    text-align: center;
    font-size: 28px;
}

.kategory{
    display: flex;
    text-align: center;
    border-radius: 10px;
}

.btn_sort{

    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    border-style: groove;

}
.btn_sort:hover{
    background: rgba(192, 192, 192, 0.9);
}
