.heads{
    
    color:bisque;
    text-align:center;
    background-color: rgb(118, 122, 94);
    height: 130px;
}
.headsH1{
    color:blueviolet

}
.none{
    display: none
}
.form_block{
    background-color: azure;
    width: 400px;
    border-color: black;
    border-style: dotted;
    border-width: 4px;
    margin-left: 40px;
}
.item-block{
    background-color: beige;
}